@import '../styles/global';


/* width */
.publications-section ::-webkit-scrollbar {
  width: 1em;
}

/* Track */
.publications-section ::-webkit-scrollbar-track {
  background: $background-color;
}

/* Handle */
.publications-section ::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

/* Handle on hover */
.publications-section ::-webkit-scrollbar-thumb:hover {
  background: $primary-color-dark;
}

.publications-section {
  padding: 0em 0rem;
  background: $background-color;
  text-align: center;

  h2 {
    color: $text-color;
    margin-bottom: 1.5rem;
  }

  .publications-description {
    font-size: 1.1rem;
    color: $secondary-text-color;
    margin-bottom: 2rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }


  .EDD {
    background-color: $workflow-color-edd;
  }
  .Laue {
    background-color: $workflow-color-laue
  }

  .Powder {
    background-color: $workflow-color-powder;
  }
  .HEDM {
    background-color: $workflow-color-hedm;
  }
  .Library.Contribution {
    background-color: $primary-color-desaturated;
  }


  .publications-search  {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      font-size: large;
      background-color: $secondary-background-color;
      border: 0;
      border-bottom: 0.1em solid $primary-color;
      color: $text-color;
    }

    input:focus {
      outline: 0.2em solid $attention-color;
    }

    [type="checkbox"]{
      display: none;
    }

    .label-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      margin-left: 1em;

      label {
        border-radius: 4px;
        color: black;
        font-weight: bold;
        padding-left: 0.25em;
        padding-right: 0.25em;
        cursor: pointer;

        border-width: 1px;

      }

      label.active {
        outline: 0.2em solid $attention-color;
      }
    }
  }

  
  .publications-grid {
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    gap: 0.5em;
    padding: 0em;
    height: 40em;
    transition: all 0.5s ease;
    margin-top: 2em;

    a {
      height: 15em;
      transition: all 0.5s ease;
    }

    .filtered {
      height: 0;
      width: 0;
      margin: 0;
      padding: 0;
      opacity: 0;

      transition: all 0.5s ease;
    }

  }
  .publication-card {
    width: 22em;
    display: flex;
    flex-direction: column;
    background: $secondary-background-color;
    color: $text-color;
    padding: .25em;
    border-radius: 8px;
    box-shadow: $box-shadow;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .publication-title {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: $white;
    }

    .publication-authors {
      font-size: 0.7rem;
      color: $secondary-text-color;
      margin-bottom: 0.3em;
    }

    .publication-abstract {
      font-size: 0.6rem;
      color: $text-color;
      margin-bottom: 1em;
    }

    .publication-date {
      font-weight: bold;
      font-size: 0.65em;
      margin-top: auto;
      text-align: right;
    }

    .publication-badges {
      display: flex;

      p {
        font-size: 0.65em;
        border-radius: 4px;
        height: fit-content;
        padding-left: 0.25em;
        padding-right: 0.25em;
        margin-left: 0.1em;
        margin-right: 0.1em;
        color: black;
        font-weight: bold;
      }
    }

    .publications-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .spacer {
      flex-grow: 1;
    }
  }

  .publications-button {
    background-color: transparent;
    border:0;
    color: $white;
    margin-top: 2em;
    
    svg {
      transform: rotate(0);
      transition: transform 1s ease;
      width: 2em;
      &.flipped {
        transform: rotate(180deg);
        transition: transform 1s ease;
      }
    }
  }
}
